In [63]:
import pandas as pd

**Limpeza de dados: PIB do Brasil**

In [64]:
pib_br = pd.read_csv("PIB 1995-2024.csv", sep=",")
pib_br = pd.DataFrame(pib_br)
pib_br['Data'] = pib_br['Data'].astype(str)
pib_br['Data'] = pib_br['Data'].str.replace('.', '/')
pib_br['Data'] = pd.to_datetime(pib_br['Data'], format= '%Y/%m')
pib_br = pib_br[(pib_br['Data'] >= '1995-01-01') & (pib_br['Data'] <= '2024-01-01')]
pib_br = pib_br.rename(columns={'PIB - R$ (milhões)  - Banco Central do Brasil, Boletim, Seção Atividade Econômica (Bacen / Boletim / Ativ. Ec.) - BM12_PIB12 - ':'PIB'})
pib_br['PIB'] = pd.to_numeric(pib_br['PIB'], errors='coerce')
pib_br['PIB'] = pib_br['PIB'].apply(lambda x: '{:.2f}'.format(x))

**Limpeza de dados: PIB dos EUA**

In [65]:
pib_usa= pd.read_csv("GDP 1992-2024.csv", sep=",")
pib_usa=pd.DataFrame(pib_usa)
pib_usa=pib_usa.rename(columns={'Unnamed: 0':'Data'})

pib_usa=pib_usa[['Data', 'Monthly Nominal GDP Index']]
pib_usa=pib_usa.dropna()

pib_usa['Data'] = pib_usa['Data'].str.replace(' - ', '/')
pib_usa['Data'] = pib_usa['Data'].str.replace(' ', '')
meses = {
  'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 
  'May': '05', 'June': '06', 'July':'07', 'Jun': '06', 'Jul': '07', 'Aug': '08', 
  'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12',
}
for mes in meses.keys():
  pib_usa['Data'] = pib_usa['Data'].str.replace(mes, meses[mes])

pib_usa['Data'] = pd.to_datetime(pib_usa['Data'], format='%Y/%m')
pib_usa = pib_usa[(pib_usa['Data'] >= '1995-01-01') & (pib_usa['Data'] <= '2024-01-01')]
pib_usa = pib_usa.rename(columns={'Monthly Nominal GDP Index':'PIB'})
pib_usa['PIB'] = pd.to_numeric(pib_usa['PIB'], errors='coerce')
pib_usa['PIB'] = pib_usa['PIB'].apply(lambda x: '{:.2f}'.format(x))

**Limpeza de dados: IBOV**

In [66]:
ibov = pd.read_csv("BVSP 1993-2024.csv", sep=",")
ibov = pd.DataFrame(ibov)
ibov['Date'] = ibov['Date'].astype(str)
ibov['Date'] = ibov['Date'].str.replace('-', '/')
ibov['Date'] = pd.to_datetime(ibov['Date'], format='%Y/%m/%d')
ibov = ibov.dropna()
ibov.set_index('Date', inplace=True)
ibov = ibov.resample('MS').first()
ibov.reset_index(inplace=True)
ibov = ibov[['Date', 'Close']]
ibov = ibov.rename(columns={'Date':'Data'})
ibov = ibov.rename(columns={'Close':'Fechamento'})
ibov = ibov[(ibov['Data'] >= '1995-01-01') & (ibov['Data'] <= '2024-01-01')]
ibov['Fechamento'] = pd.to_numeric(ibov['Fechamento'], errors='coerce')
ibov['Fechamento'] = ibov['Fechamento'].apply(lambda x: '{:.2f}'.format(x))

**Limpeza de dados: S&P500**

In [67]:
sp500 = pd.read_csv("SP500 1993-2024.csv", sep=",")
sp500 = sp500.dropna()
sp500 = sp500[['Data','Fechamento*']]
sp500['Data'] = sp500['Data'].astype(str)
sp500['Data'] = sp500['Data'].str.replace(' de ', '/').str.replace(' ', '').str.replace('.', '')
meses = {
  'jan': '01', 'fev': '02', 'mar': '03', 'abr': '04', 
  'mai': '05', 'junho': '06', 'julho': '07', 'jun': '06', 'jul': '07', 'ago': '08', 
  'set': '09', 'out': '10', 'nov': '11', 'dez': '12',
}
for mes in meses.keys():
  sp500['Data'] = sp500['Data'].str.replace(mes, meses[mes])
sp500['Data'] = pd.to_datetime(sp500['Data'], format='%d/%m/%Y')
sp500 = sp500[(sp500['Data'] >= '1995-01-01') & (sp500['Data'] <= '2024-01-01')]
sp500.set_index('Data', inplace=True)
sp500.sort_values(by='Data', ascending=True, inplace=True)
sp500 = sp500.resample('MS').first()
sp500['Fechamento*'] = sp500['Fechamento*'].str.replace('.', '').str.replace(',', '.')
sp500 = sp500.rename(columns={'Fechamento*':'Fechamento'})
sp500['Fechamento'] = pd.to_numeric(sp500['Fechamento'], errors='coerce')
sp500['Fechamento'] = sp500['Fechamento'].apply(lambda x: '{:.2f}'.format(x))

In [68]:
pib_br

          Data        PIB
0   1995-01-01   47028.60
1   1995-02-01   49954.50
2   1995-03-01   60024.30
3   1995-04-01   57789.50
4   1995-05-01   56350.50
..         ...        ...
344 2023-09-01  905975.80
345 2023-01-01  944016.20
346 2023-11-01  950525.30
347 2023-12-01  936798.80
348 2024-01-01  874397.90

[349 rows x 2 columns]

In [69]:
pib_usa

          Data       PIB
36  1995-01-01   7542.30
37  1995-02-01   7488.44
38  1995-03-01   7536.13
39  1995-04-01   7539.26
40  1995-05-01   7560.69
..         ...       ...
380 2023-09-01  27819.28
381 2023-10-01  27740.33
382 2023-11-01  27952.75
383 2023-12-01  28177.92
384 2024-01-01  28053.03

[349 rows x 2 columns]

In [70]:
ibov

          Data Fechamento
21  1995-01-01    4301.00
22  1995-02-01    3989.80
23  1995-03-01    2989.10
24  1995-04-01    2893.50
25  1995-05-01    3861.50
..         ...        ...
365 2023-09-01  117893.00
366 2023-10-01  115057.00
367 2023-11-01  115053.00
368 2023-12-01  128103.00
369 2024-01-01  132697.00

[349 rows x 2 columns]

In [71]:
sp500

           Fechamento
Data
1995-01-01     470.42
1995-02-01     487.39
1995-03-01     500.71
1995-04-01     514.71
1995-05-01     533.40
...               ...
2023-09-01    4288.05
2023-10-01    4193.80
2023-11-01    4567.80
2023-12-01    4769.83
2024-01-01    4845.65

[349 rows x 1 columns]